body, div {
    margin: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 40px;
    background-color: #65cbf3;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(255, 25, 64);
    font-weight: bold;
}
.content {
    position: absolute;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
}

.content table {
    width: 100%;
}
.content table thead th {
    border-bottom: 1px solid sienna;
}
.content table td {
    width: 33.33%;
    padding: 10px 0;
    color: #690388;
}